/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	.services__link
		&--med,
		&--speak
			width: 48.5%
		&--speak
			float: right
		&--feather,
		&--timetable,
		&--libra
			width: 30.6%
		&--feather,
		&--timetable
			margin-right: 4%

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/
	.container
		min-width: 768px
	.services__link
		&--own
			width: 50%
			margin-right: 2.5%
		&--med,
		&--speak
			width: 22.5%
		&--tech
			width: 50%
			float: left
			margin-top: 0
		&--feather,
		&--timetable
			margin-right: 2.5%
		&--feather,
		&--timetable,
		&--libra
			width: 31.6%
	.services__sldr
		width: 47.5%
		float: right
	.btn
		&--umap
			width: 58%
		&--fill
			width: 40%
		&--yellow-wrap
			width: 30%
			margin: 20px auto 0
.sliders
	text-align: center
/* Medium Devices, Desktops */
@media only screen and (min-width : 959px)
	.price .icon-arrow-left
		left: 20px
	.price .icon-arrow-right
		right: 20px

/* Medium Devices, Desktops */
@media only screen and (min-width : 960px)
	/**/
	.container
		max-width: 960px
	.services__link
		&--own
			width: 34%
			margin-right: 2%
		&--med,
		&--tech
			width: 16%
		&--tech
			float: left
			clear: both
			margin-right: 2%
		&--speak
			float: left
			margin-left: 2%
		&--web
			float: left
			width: 34%
			margin-right: 0
		&--feather,
		&--timetable,
		&--libra
			width: 16%
		&--feather,
		&--timetable
			margin-right: 2%
		&--speak
			width: 21%
	.services__map
		float: right
		width: 46%
	.services__sldr
		float: right
		height: 150px
		width: 23%
	.services__sldr
		width: 23.2%
	.services__map
		margin-top: 0
	.btn
		&--umap
			font-size: 16px
			padding: 15px 5px
		&--fill
			font-size: 16px
	.price .icon-arrow-left
		left: -5px
	.price .icon-arrow-right
		right: -5px
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
	.price .icon-arrow-left
		left: -40px
	.price .icon-arrow-right
		right: -40px